/* 

color scheme:
#FEC5BB
#FCD5CE
#FAE1DD
#F8EDEB
#E8E8E4
#D8E2DC
#ECE4DB
#FFE5D9
#FFD7BA
#FEC89A
https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a

*/
:root {
  --theme-color: #ffe5d9;
  --theme-tint-color: #ffeae1;
  --theme-shade-color: #ccb7ae;
  --aside-color: #fff5f0;
  --font-color: #3a3a3a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  font-size: 1.6rem;
  background-color: var(--theme-color);
  width: 100%;
  height: 100%;
}

.container-main {
  width: 100%;
  /* max-width: 90rem; */
  height: 100%;

  /* flex */
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  position: fixed;
  top: 0;
  background-color: var(--theme-color);
  height: 8rem;
  width: 100%;
  padding: 2rem;
  border-bottom: 1px solid var(--font-color);

  /* flex */
  align-items: center;
  align-content: center;
  gap: 1.2rem;
}

.header-logo {
  height: 4.8rem;
}

.h1 {
  font-size: 4rem;
  font-weight: 500;
}

.header-menu-button {
  display: none;
  margin-left: auto;
}

.header-close-button {
  display: none;
  margin-left: auto;
}

.aside {
  position: fixed;
  right: 0;
  top: 8rem; /* equal to header height*/
  height: calc(100% - 8rem);
  z-index: 2;
  background-color: var(--aside-color);
  padding: 2rem;
  transform: translateX(100%);
  transition: transform 0.5s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
}

.aside-open {
  transform: translateX(0);
}

.aside-nav {
  height: 100%;
}

.aside-ul {
  height: 100%;

  /* flex */
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
}

.aside-li {
  padding: 1rem;
  text-decoration: none;
  list-style-type: none;
  font-size: 2rem;
}

.aside-li:nth-last-child(2) {
  margin-top: auto;
}

.article {
  height: 100%;
  width: 100%;
  padding: 2rem;
  margin-top: 8rem;
  overflow-y: scroll;
  overflow-x: hidden;

  /* flex */
  flex-direction: column;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.article-h2 {
  font-size: 2.8rem;
  font-weight: 500;
}

.article-h3 {
  font-size: 2.4rem;
  font-weight: 500;
}

.article-h4 {
  font-size: 2.4rem;
  font-weight: 500;

  align-self: flex-end;
}

.article-table {
  width: 100%;
  border: 1px solid var(--font-color);
  border-collapse: collapse;
}

.article-table-data {
  padding: 0.8rem;
  font-size: 2rem;
  border: 1px solid var(--font-color);
}

.article-table-data:not(:first-child) {
  text-align: center;
}

.article-table-row:nth-child(even) {
  background-color: var(--theme-tint-color);
}

/* helpers */
.container {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.button {
  background: none;
  color: inherit;
  border: 1px solid var(--font-color);
  padding: 1rem;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.active {
  display: block;
}

.hidden {
  display: none;
}
