/* 

color scheme:
#FEC5BB
#FCD5CE
#FAE1DD
#F8EDEB
#E8E8E4
#D8E2DC
#ECE4DB
#FFE5D9
#FFD7BA
#FEC89A
https://coolors.co/fec5bb-fcd5ce-fae1dd-f8edeb-e8e8e4-d8e2dc-ece4db-ffe5d9-ffd7ba-fec89a

*/
:root {
  --theme-color: #ffe5d9;
  --theme-tint-color: #ffeae1;
  --theme-shade-color: #ccb7ae;
  --aside-color: #fff5f0;
  --font-color: #222222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  /* prevent double tap to zoom */
  touch-action: manipulation;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  background-color: var(--theme-color);
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.button {
  cursor: pointer;
  background-color: inherit;
  padding: 0;
  border: none;
  color: #3a3a3a;
}

.input-load-backup-file {
  display: none;
}

.label-load-backup {
  cursor: pointer;
  color: #3a3a3a;
}

.button-menu {
  width: 3.2rem;
  height: 2.4rem;
  position: relative;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.button-menu span {
  display: block;
  position: absolute;
  height: 0.4rem;
  width: 100%;
  background: var(--font-color);
  border-radius: 0.8rem;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.button-menu span:nth-child(1) {
  top: 0rem;
}

.button-menu span:nth-child(2),
.button-menu span:nth-child(3) {
  top: 1rem;
}

.button-menu span:nth-child(4) {
  top: 2rem;
}

.button-menu.open span:nth-child(1) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

.button-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.button-menu.open span:nth-child(4) {
  top: 1rem;
  width: 0%;
  left: 50%;
}

.main {
  position: relative;
  max-width: 100rem;
  width: 100%;
  height: 100%;

  /* flex */
  gap: 0;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  position: fixed;
  background-color: var(--theme-color);
  width: 100%;
  height: 8rem;
  padding: 2rem;
  border-bottom: 1px solid var(--font-color);

  /* flex */
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: center;
}

.header-h1 {
  color: var(--font-color);
  /* flex */
}

.section {
  margin-top: 8rem;
  padding: 2rem;
  overflow-y: auto;
  /* flex */
  flex: 1 0 auto;
  flex-direction: column;
  gap: 2.4rem;
}

.section-h2 {
  color: var(--font-color);
}

.section-table {
  border: 1px solid var(--font-color);
  border-collapse: collapse;
  color: var(--font-color);
}

.section-table-row:nth-child(even) {
  background-color: var(--theme-tint-color);
}

.section-table-row-low-stock {
  color: red;
}

.section-table-data {
  font-size: 2rem;
  padding: 0.8rem;
  border: 1px solid var(--font-color);
}

.section-table-data:not(:first-child) {
  text-align: center;
}

.section-h3 {
  color: var(--font-color);
  font-size: 2.4rem;

  /* flex */
  align-self: flex-end;
}

.section select,
.section input {
  height: 3.2rem;
  font-size: 1.6rem;
  color: var(--font-color);
}

.section label {
  font-size: 2rem;
  color: var(--font-color);
}

.section .section-h3 {
  align-self: flex-end;
}

.section button {
  width: 16rem;
  padding: 1.2rem;
  border: 1px solid black;
  border-radius: 1.2rem;
  font-size: 1.6rem;
  font-weight: 600;

  /* flex */
  align-self: center;
}

.error-message {
  font-size: 2rem;
  color: red;
}

.aside {
  display: inline-block;
  position: fixed;
  height: 100%;
  padding: 2rem;
  background-color: var(--theme-color);
  top: 8rem;
  /* top isheight of header */
  right: 0;
  border-left: 1px solid var(--font-color);
  font-size: 2rem;
  z-index: 1;
}

.aside-nav {
  height: 100%;
}

.aside-ul {
  list-style-type: none;
  height: 100%;

  /* flex */
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.2rem;
}

.active {
  display: block;
}

.hidden {
  display: none;
}
