{
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "singleQuote": false
      }
    },
    {
      "files": "*.js",
      "options": {
        "singleQuote": true
      }
    }
  ]
}
